In [405]:
import numpy as np
import pandas as pd

In [406]:
with pd.ExcelFile('input/PD Bechdel Test.xlsx') as xl:
    df_web = pd.read_excel(xl, sheet_name='Webscraping')
    df_html = pd.read_excel(xl, sheet_name='html')

In [407]:
df_web.head()

,DownloadData,Year
0,"<a href=""http://us.imdb.com/title/tt3155794/""><img src=""/static/nopass.png"" alt=""[[0]]"" title=""[Fewer than two women in this movie]""></a>\n\t\t<a id=""movie-9602"" href=""/view/9602/passage_de_venus/...",1874
1,"<a href=""http://us.imdb.com/title/tt14495706/""><img src=""/static/nopass.png"" alt=""[[0]]"" title=""[Fewer than two women in this movie]""></a>\n\t\t<a id=""movie-9804"" href=""/view/9804/la_rosace_magiqu...",1877
2,"<a href=""http://us.imdb.com/title/tt12592084/""><img src=""/static/nopass.png"" alt=""[[0]]"" title=""[Fewer than two women in this movie]""></a>\n\t\t<a id=""movie-9806"" href=""/view/9806/le_singe_musicie...",1878
3,"<a href=""http://us.imdb.com/title/tt2221420/""><img src=""/static/nopass.png"" alt=""[[0]]"" title=""[Fewer than two women in this movie]""></a>\n\t\t<a id=""movie-9603"" href=""/view/9603/sallie_gardner_at...",1878
4,"<a href=""http://us.imdb.com/title/tt7816420/""><img src=""/static/nopass.png"" alt=""[[0]]"" title=""[Fewer than two women in this movie]""></a>\n\t\t<a id=""movie-9816"" href=""/view/9816/athlete_swinging_...",1881

In [408]:
df_html.head()

  Char Numeric   Named       Description
0  NaN    code    code               NaN
1  NaN   &#32;     NaN             space
2    !   &#33;     NaN  exclamation mark
3    "   &#34;  &quot;      double quote
4    #   &#35;     NaN            number

In [409]:
df_html.iat[1,0] = ' '
df_html = df_html.iloc[1:]
html_num_to_char = dict(zip(df_html['Numeric'], df_html['Char']))

In [410]:
df_html = df_html.dropna(subset=['Named'])
html_named_to_char = dict(zip(df_html['Named'], df_html['Char']))

In [411]:
html_amp_to_and = {'&amp;':'&'}

In [412]:
for k,v in html_amp_to_and.items():
    df_web['DownloadData'] = df_web['DownloadData'].apply(lambda df_x : df_x.replace(repr(k), repr(v)))

for k,v in html_num_to_char.items():
    df_web['DownloadData'] = df_web['DownloadData'].apply(lambda df_x : df_x.replace(repr(k), repr(v)))
    
for k,v in html_named_to_char.items():
    df_web['DownloadData'] = df_web['DownloadData'].apply(lambda df_x : df_x.replace(repr(k), repr(v)))

In [413]:
df_web.iat[100,0]

'<a href="http://us.imdb.com/title/tt0258104/"><img src="/static/nopass.png" alt="[[0]]" title="[Fewer than two women in this movie]"></a>\n\t\t<a id="movie-5437" href="/view/5437/reve_et_realite/">Reve et realite</a>   </div>'

In [414]:
# str.replaceを続けてくっつけると、エラーを吐き出す
df_web['Categorisation'] = df_web['DownloadData'].str.extract('title="(.+)]"></a', expand=True)
df_web['Categorisation'] = df_web['Categorisation'].str.replace('[', '')

In [415]:
df_web['Movie'] = df_web['DownloadData'].str.extract('href="/view/(.+)</a>', expand=True)
df_web['Movie'] = df_web['Movie'].str.split('">', expand=True)[1]

In [416]:
df_web['Pass/Fail'] = df_web["DownloadData"].apply(lambda df_x: 'Fail' if 'nopass.png' in df_x else 'Pass')

In [417]:
pd.set_option("display.max_colwidth", 200)
df_web['Categorisation'].drop_duplicates()

0                                                                                            Fewer than two women in this movie
64                                                 There are two or more women in this movie, but they don't talk to each other
86                       There are two or more women in this movie and they talk to each other about something other than a man
128                                     There are two or more women in this movie, but they only talk to each other about a man
150    There are two or more women in this movie and they talk to each other about something other than a man, although dubious
Name: Categorisation, dtype: object

In [419]:
Categori_rank = {"Fewer than two women in this movie": 5,
"There are two or more women in this movie, but they don't talk to each other": 4,
"There are two or more women in this movie and they talk to each other about something other than a man": 1,
"There are two or more women in this movie, but they only talk to each other about a man": 3,
"There are two or more women in this movie and they talk to each other about something other than a man, although dubious": 2}

df_web['Ranking'] = df_web['Categorisation'].map(Categori_rank)

In [421]:
col = ['Movie', 'Year', 'Pass/Fail', 'Ranking', 'Categorisation']
df.

Index(['DownloadData', 'Year', 'Categorisation', 'Movie', 'Pass/Fail',
       'Ranking'],
      dtype='object')