In [70]:
import pandas as pd

In [71]:
with pd.ExcelFile('input/7 letter words.xlsx') as xl:
    words = pd.read_excel(xl, '7 letter words')
    scores = pd.read_excel(xl, 'Scrabble Scores')

In [72]:
words.head()

  7 letter word
0       ability
1       absence
2       academy
3       account
4       accused

In [73]:
scores.head()

                                            Scrabble
0                                 0 points: Blank ×2
1  1 point: E ×12, A ×9, I ×9, O ×8, N ×6, R ×6, ...
2                               2 points: D ×4, G ×3
3                   3 points: B ×2, C ×2, M ×2, P ×2
4             4 points: F ×2, H ×2, V ×2, W ×2, Y ×2

In [74]:
scores[['Points', 'Tiles']] = scores['Scrabble'].str.split(':', expand=True)
scores.drop(columns='Scrabble', inplace=True)

In [75]:
scores['Tiles'] = scores['Tiles'].str.split(',')

In [76]:
scores = scores.explode('Tiles')
# explode methodについて復習する

In [82]:
scores.head()

  Points  Tiles Frequency
0      0  Blank         2
1      1      E        12
1      1      A         9
1      1      I         9
1      1      O         8

In [78]:
scores[['Tiles', 'Frequency']] = scores['Tiles'].str.split('×', expand=True)

In [79]:
scores['Points'] = scores['Points'].apply(lambda x : x.split(' ')[0])

In [81]:
scores['Tiles'] = scores['Tiles'].str.strip()

Points       object
Tiles        object
Frequency    object
dtype: object