In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('input/PD 2021 WK 1 to 4 ideas - Preferences of Travel.xlsx')

In [8]:
df = df[['Student ID', 'M', 'Tu', 'W', 'Th', 'F']]
df.head()

   Student ID        M       Tu        W       Th        F
0           1      Car      Car      Car      Car  Bycycle
1           2  Bicycle  Bicycle  Bicycle     Walk     Walk
2           3      Car  Bicycle     Carr     Walk      Car
3           4  Scooter  Scooter   Scootr  Scooter   Scoter
4           5  Bycycle     Carr   Scoter    Walkk   Scoter

In [9]:
df = pd.melt(df, id_vars='Student ID', var_name='Weekday', value_name='Method of Travel')
df.head()

   Student ID Weekday Method of Travel
0           1       M              Car
1           2       M          Bicycle
2           3       M              Car
3           4       M          Scooter
4           5       M          Bycycle

In [10]:
sorted(list(df['Method of Travel'].drop_duplicates()))

['Aeroplane',
 'Bicycle',
 'Bycycle',
 'Car',
 'Carr',
 "Dad's Shoulders",
 'Helicopeter',
 'Helicopter',
 'Hopped',
 'Jumped',
 "Mum's Shoulders",
 'Scooter',
 'Scootr',
 'Scoter',
 'Skipped',
 'Van',
 'WAlk',
 'Waalk',
 'Walk',
 'Walkk',
 'Wallk']

In [11]:
travel_method_renames = {'Bycycle' : 'Bicycle',
                         'Carr' : 'Car',
                         'Helicopeter' : 'Helicopter',
                         'Scootr' : 'Scooter', 'Scoter' : 'Scooter',
                         'WAlk' : 'Walk', 'Waalk' : 'Walk', 'Wallk' : 'Walk', 'Walkk' : 'Walk'}

sustainable_methods = ['Bicycle', "Dad's Shoulders", 'Hopped', 'Jumped', "Mum's Shoulders", 
                       'Scooter', 'Skipped', 'Walk']

In [13]:
df['Method of Travel'] = df['Method of Travel'].replace(travel_method_renames)
df['Sustainable?'] = df['Method of Travel'].apply(lambda x:'Sustainable' if x in sustainable_methods else 'Non-Sustainable')

In [14]:
df.head()

   Student ID Weekday Method of Travel     Sustainable?
0           1       M              Car  Non-Sustainable
1           2       M          Bicycle      Sustainable
2           3       M              Car  Non-Sustainable
3           4       M          Scooter      Sustainable
4           5       M          Bicycle      Sustainable

In [15]:
df = df.groupby(['Sustainable?', 'Method of Travel', 'Weekday'])\
    .agg(Number_of_Trips=('Student ID', 'count'))\
    .assign(Trips_per_day = lambda df_x: df_x.groupby('Weekday')['Number_of_Trips'].transform('sum'),
            Pct_of_trips_per_day = lambda df_x: df_x['Number_of_Trips'] / df_x['Trips_per_day'].round(2))\
    .rename(columns=lambda c: c.replace('_', ' ').replace('Pct', '%'))

In [19]:
df.to_csv('output/output-2020-week04.csv')

In [20]:
output = pd.read_csv('output/output-2020-week04.csv')
output.head()

,Sustainable?,Method of Travel,Weekday,Number of Trips,Trips per day,% of trips per day
0,Non-Sustainable,Aeroplane,F,9,1000,0.009
1,Non-Sustainable,Aeroplane,M,9,1000,0.009
2,Non-Sustainable,Aeroplane,Th,9,1000,0.009
3,Non-Sustainable,Aeroplane,Tu,9,1000,0.009
4,Non-Sustainable,Aeroplane,W,9,1000,0.009