In [1]:
import numpy as np
import pandas as pd

In [199]:
def fill_salesperson(df):
    person_list = df['Salesperson'].dropna().unique()
    df['Salesperson'] = df['Salesperson'].astype('str')
    
    p_i = 0
    for i,v in df['Salesperson'].iteritems():
        if df['Salesperson'].iloc[i] == person_list[p_i]:
            p_i += 1
        else:
            df['Salesperson'].iloc[i] = person_list[p_i]
    
    return df

In [216]:
df = pd.read_excel('Sales Department Input.xlsx', sheet_name=0)
# df_Nov = pd.read_excel('Sales Department Input.xlsx', sheet_name=1)

df = fill_salesperson(df)
# df_Nov = fill_salesperson(df_Nov)

# df = pd.concat([df_Oct, df_Nov])

df.drop(columns=['Unnamed: 7','RowID'], inplace=True)
df.dropna(inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [217]:
df_total = df[['Date', 'Salesperson', 'Total']]

df.drop(columns='Total', inplace=True)
df = df.melt(id_vars=['Date', 'Salesperson'], var_name='Sales', value_name='Bike Type')

In [218]:
df_YTD = pd.read_excel('Sales Department Input.xlsx', sheet_name=0)
df_YTD.rename(columns={'Unnamed: 7': 'YTD Total'}, inplace=True)
df_Sep_YTD = df_YTD[df_YTD['Total'] == 'YTD total:'][['Salesperson', 'YTD Total']]

In [219]:
df_Sep_YTD

    Salesperson  YTD Total
31         Carl    32768.0
63        Ollie    45627.0
95        Lorna    64704.0
127       Jenny    20707.0
159         Tom    74377.0

In [224]:
df = df.merge(df_Sep_YTD, how='left', on='Salesperson')
df

          Date Salesperson     Sales  Bike Type  YTD Total
0   2021-10-01        Carl      Road       60.0    32768.0
1   2021-10-02        Carl      Road       48.0    32768.0
2   2021-10-03        Carl      Road       87.0    32768.0
3   2021-10-04        Carl      Road        4.0    32768.0
4   2021-10-05        Carl      Road       57.0    32768.0
..         ...         ...       ...        ...        ...
460 2021-10-27         Tom  Mountain       58.0    74377.0
461 2021-10-28         Tom  Mountain       33.0    74377.0
462 2021-10-29         Tom  Mountain       67.0    74377.0
463 2021-10-30         Tom  Mountain       75.0    74377.0
464 2021-10-31         Tom  Mountain       60.0    74377.0

[465 rows x 5 columns]