In [157]:
import numpy as np
import pandas as pd

In [158]:
df_sheetnames = pd.read_excel("Bookshop.xlsx", sheet_name=None)
for k in df_sheetnames.keys():
    print('df_' + k)

df_Book
df_Author
df_Info
df_Award
df_Checkouts
df_Edition
df_Publisher
df_Ratings
df_Series
df_Sales Q1
df_Sales Q2
df_Sales Q3
df_Sales Q4

In [159]:
df_Book = pd.read_excel("Bookshop.xlsx", sheet_name=0)
df_Author = pd.read_excel("Bookshop.xlsx", sheet_name=1)
df_Info = pd.read_excel("Bookshop.xlsx", sheet_name=2)
df_Award = pd.read_excel("Bookshop.xlsx", sheet_name=3)
df_Checkouts = pd.read_excel("Bookshop.xlsx", sheet_name=4)
df_Edition = pd.read_excel("Bookshop.xlsx", sheet_name=5)
df_Publisher = pd.read_excel("Bookshop.xlsx", sheet_name=6)
df_Ratings = pd.read_excel("Bookshop.xlsx", sheet_name=7)
df_Series = pd.read_excel("Bookshop.xlsx", sheet_name=8)
df_SalesQ1 = pd.read_excel("Bookshop.xlsx", sheet_name=9)
df_SalesQ2 = pd.read_excel("Bookshop.xlsx", sheet_name=10)
df_SalesQ3 = pd.read_excel("Bookshop.xlsx", sheet_name=11)
df_SalesQ4 = pd.read_excel("Bookshop.xlsx", sheet_name=12)

In [160]:
df_sales = pd.concat([df_SalesQ1, df_SalesQ2, df_SalesQ3, df_SalesQ4])

In [161]:
df_sales = df_sales.merge(df_Edition, how='left', on='ISBN')

In [162]:
df_sales = df_sales.merge(df_Book, how='left', on='BookID')

In [163]:
df_sales = df_sales.merge(df_Author, how='left', on='AuthID')

In [164]:
df_Info['BookID'] = df_Info['BookID1'] + df_Info['BookID2'].astype('str')

In [165]:
df_sales = df_sales.merge(df_Info, how='left', on='BookID')

In [166]:
df_sales = df_sales.merge(df_Publisher, how='left', on='PubID')

In [167]:
df_sales = df_sales.merge(df_Series, how='left', on='SeriesID')

In [168]:
df_Award = df_Award.groupby('Title').count()
df_Award = df_Award.drop(columns='Year Won').rename(columns={'Award Name':'Number of Awards'})

In [169]:
df_sales = df_sales.merge(df_Award, how='left', on="Title")

In [170]:
df_Checkouts = df_Checkouts.groupby('BookID').agg({'CheckoutMonth':'count', 'Number of Checkouts':'sum'})
df_Checkouts = df_Checkouts.rename(columns={'CheckoutMonth':'Number of Months Checked Out', 'Number of Checkouts':'Total Checkouts'})

In [171]:
df_sales = df_sales.merge(df_Checkouts, how='left', on='BookID')

In [172]:
df_Ratings = df_Ratings.groupby('BookID').agg({'Rating':'mean', 'ReviewID':'count'})
df_Ratings = df_Ratings.rename(columns={'Rating':'avg_rating','ReviewID':'number_of_reviews'})

In [173]:
df_sales = df_sales.merge(df_Ratings, how='left', on='BookID')

In [174]:
df_sales = df_sales.drop(columns=['BookID1', 'BookID2'])

In [175]:
df_sales.columns

Index(['Sale Date', 'ISBN', 'Discount', 'ItemID', 'OrderID', 'BookID',
       'Format', 'PubID', 'Publication Date', 'Pages', 'Print Run Size (k)',
       'Price', 'Title', 'AuthID', 'First Name', 'Last Name', 'Birthday',
       'Country of Residence', 'Hrs Writing per Day', 'Genre', 'SeriesID',
       'Volume Number', 'Staff Comment', 'Publishing House', 'City', 'State',
       'Country', 'Year Established', 'Marketing Spend', 'Series Name',
       'Planned Volumes', 'Book Tour Events', 'Number of Awards',
       'Number of Months Checked Out', 'Total Checkouts', 'avg_rating',
       'number_of_reviews'],
      dtype='object')

In [182]:
pd.set_option('display.max_columns', None)

In [187]:
df_sales.head()

,Sale Date,ISBN,Discount,ItemID,OrderID,BookID,Format,PubID,Publication Date,Pages,Print Run Size (k),Price,Title,AuthID,First Name,Last Name,Birthday,Country of Residence,Hrs Writing per Day,Genre,SeriesID,Volume Number,Staff Comment,Publishing House,City,State,Country,Year Established,Marketing Spend,Series Name,Planned Volumes,Book Tour Events,Number of Awards,Number of Months Checked Out,Total Checkouts,avg_rating,number_of_reviews
0,2193-01-02,989-28-3705-007-2,NaN,107020-91-8011,107020-1,HP265,Board book,CHP,2188-06-03,16,55,5.99,Heliotrope Pajamas,MW974,Malin,Wolff,2141-01-31,Hong Kong,6.00,Childrens,NaN,NaN,Wilberforce isn't sure about bedtime in a new ...,Cedar House Publishers,Friday Harbor,Washington,USA,2086,72000,NaN,NaN,NaN,1.0,12,909,4.543651,1764
1,2193-01-02,989-28-79-11297-4,NaN,107020-9-3293,107020-10,TP887,Trade paperback,ESP,2192-08-25,1296,30,13.46,the life and times of an utterly inconsequenti...,DB605,David,Beam,2157-02-26,United States,5.13,Fiction,NaN,NaN,NaN,Etaoin Shrdlu Press,Seattle,Washington,USA,2069,2320000,NaN,NaN,NaN,1.0,12,210,3.195033,1369
2,2193-01-02,989-28-79-11297-4,NaN,107020-91-4622,107020-11,TP887,Trade paperback,ESP,2192-08-25,1296,30,13.46,the life and times of an utterly inconsequenti...,DB605,David,Beam,2157-02-26,United States,5.13,Fiction,NaN,NaN,NaN,Etaoin Shrdlu Press,Seattle,Washington,USA,2069,2320000,NaN,NaN,NaN,1.0,12,210,3.195033,1369
3,2193-01-02,989-28-79-18127-7,NaN,107020-38-4663,107020-12,AY135,Hardcover,ESP,2179-04-24,704,15,27.99,And I Said Yes,EK605,Elmer,Komroff,2129-07-11,Norway,6.00,Fiction,NaN,NaN,NaN,Etaoin Shrdlu Press,Seattle,Washington,USA,2069,2320000,NaN,NaN,NaN,NaN,12,93,3.860825,970
4,2193-01-02,989-28-79-82197-5,0.15,107020-1-1485,107020-13,TC188,Trade paperback,ESP,2186-12-05,469,20,12.50,Thatchwork Cottage,BM856,Burton,Malamud,2145-01-18,Brazil,6.00,Fiction,NaN,NaN,NaN,Etaoin Shrdlu Press,Seattle,Washington,USA,2069,2320000,NaN,NaN,NaN,NaN,12,195,4.210452,708